body{
    margin: 0;
    padding: 0;
    background: #38726d;
}
.header{
    margin: 0 auto;
    color: #fff;
}
.wrapper{
    margin: 0 auto;
}
fieldset{
    border: none;
    padding: 0;
}
ul{
    padding: 0;
}
li{
    list-style: none;
    color: #fff;    
}